html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0 0;
}

nav {
  opacity: .97;
}

#start {
  height: 95vh;
}


/*  TYPEWRITER EFFECT */
.typewriter {
  height: 95vh;
  display: flex;
}

.typewriter h1 {
  color: #000;
  height: 1.2em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #000; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 1.2s steps(16, end),
    blink-caret 1s step-end infinite;
}

.typewriter p {
  color: #fff;
  height: 1.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing-p 1.2s steps(16, end),
    blink-caret-p 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 200px}
  to { width: 420px}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000 }
}  

/* The typing effect */
@keyframes typing-p {
  from { width: 200px}
  to { width: 420px}
}

/* The typewriter cursor effect */
@keyframes blink-caret-p {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}  


/*  WORKINGS DIAGRAM */
#workings-description {
  width: 60%;
}

#workings-diagram {
  width: 40%;
  height: 80vh;
  border: 2px solid #000;
  border-radius: 5px;

  background-color: #000;
}

/*  REMOVES EXAMPLE ON SMALL SCREEN */
/* @media (min-width: 550px) {
  #workings-diagram {
    border: 5px solid red;
  }
} */